[Unit]
Description=Gunicorn Daemon for FastAPI Deoldify
After=network.target


[Service]
WorkingDirectory=/home/deoldify_bitmorpher
ExecStartPre=/bin/bash -c 'mkdir -p /run/deoldify; chown www-data:www-data /run/deoldify'
ExecStart=/home/deoldify_bitmorpher/.venv/bin/gunicorn -c gunicorn_conf.py main:app
StandardOutput=append:/var/log/deoldify/access.log
StandardError=append:/var/log/deoldify/error.log


[Install]
WantedBy=multi-user.target
